Library.Api/.vs/Library.Api/CopilotIndices/17.14.995.13737/CodeChunks.db
Library.Api/.vs/Library.Api/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
Library.Api/.vs/Library.Api/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
Library.Api/.vs/Library.Api/CopilotIndices/17.14.995.13737/SemanticSymbols.db
Library.Api/.vs/Library.Api/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
Library.Api/.vs/Library.Api/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
Library.Api/.vs/Library.Api/DesignTimeBuild/.dtbcache.v2
Library.Api/.vs/Library.Api/FileContentIndex/7e125541-57ba-4ca2-b3f2-74d9d76a2431.vsidx
Library.Api/.vs/Library.Api/FileContentIndex/83cffb1c-bd08-452b-a0fd-4ebf20354d6b.vsidx
Library.Api/.vs/Library.Api/FileContentIndex/362fe9ea-b83b-460b-8e31-a72ff265f206.vsidx
Library.Api/.vs/Library.Api/FileContentIndex/375f84ad-7e4d-4179-8c45-1a6f06d1c4b2.vsidx
Library.Api/.vs/Library.Api/FileContentIndex/f6752d50-b0c4-4cbe-bfde-5ed688301746.vsidx
Library.Api/.vs/Library.Api/config/applicationhost.config
Library.Api/.vs/Library.Api/v17/.suo
Library.Api/.vs/Library.Api/v17/DocumentLayout.backup.json
Library.Api/.vs/Library.Api/v17/DocumentLayout.json
